
.paging {
  width: 66%;
  display: flex;
  padding-top: 20px;
  padding-left: 10%;
  justify-content: flex-end;
}

.paging .page {
  margin-right: 20px;
  list-style: none;
  cursor: pointer;
  color: #888;
}

.paging .page.active {
  color: #000;
}

.paging .page:hover {
  color: #000;
}

.paging .page a {
  display: flex;
}

.paging .page a p {
  color: #000;
  margin-right: 10px;
}

.news-block > img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 700px;
  margin: 20px auto;
}

.news-block > p {
  margin: 20px 0;
}

.other-block {
  width: 33%
}

.other-block a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.other-block .date {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: solid 2px #000;
}

.other-block h6, .other-block h5 {
  margin: 20px 0;
}

.other-news-item {
  margin-top: 40px;
}

.other-news-item h6 {
  display: block;
  padding-right: 40px;
}

.other-news-item a:hover h6{
  text-decoration: underline;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC4wOTcyOCA4LjEyOTI5TDI0LjE2MTUgOC4xMjkzTDI0LjE2MTUgMjQuMTI5M0wyMi4xNjE1IDI0LjEyOTNMMjIuMTYxNSAxMS41MzYyTDguODAyNzUgMjQuODM3OUw3LjM5MTU2IDIzLjQyMDdMMjAuNzM5OSAxMC4xMjkzTDguMDk3MjcgMTAuMTI5M0w4LjA5NzI4IDguMTI5MjlaIiBmaWxsPSJibGFjayIgLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: top right;
}

.news-link {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-top: 40px;
  transition: all 0.2s ease-in-out;
}

.news-link:hover {
  text-decoration: underline;
  width: 180px;
}

@media only screen and (max-width: 1024px) {
  .other-block {
    width: 100%
  }

  .reverse {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {

}
