.section-news  .news {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news.align-bottom {
  align-items: flex-end;
}


.section-news .news-block {
  width: 65%;
}

.section-news .search-block {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.search-block.fixed {
  position: fixed;
  width: 25.6%;
  top: 10px;
  right: 10%;
}


.news-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  text-overflow: ellipsis;
  margin-bottom: 80px;
  overflow: hidden;
}

.news-item .image-container {
  width: 47%;
}

.news-item .image-container img {
  object-fit: cover;
  width: min(100%, 960px);
  height: max(32vh, 520px);
  margin: auto;
}

.news-item .news-text {
  width: 48%;
  max-height: 520px;
  overflow: hidden;
}

.news-text .date {
  width: 100%;
  color: #959595;
  line-height: 20px;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #959595;
}

.news-text h4 {
  margin-top: 20px;
  padding-right: 40px;
}

.news-text p {
  margin-top: 40px;
}

.news-text a {
  display: block;
  width: 100%;
}

.news-text a:hover h4{
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC4wOTcyOCA4LjEyOTI5TDI0LjE2MTUgOC4xMjkzTDI0LjE2MTUgMjQuMTI5M0wyMi4xNjE1IDI0LjEyOTNMMjIuMTYxNSAxMS41MzYyTDguODAyNzUgMjQuODM3OUw3LjM5MTU2IDIzLjQyMDdMMjAuNzM5OSAxMC4xMjkzTDguMDk3MjcgMTAuMTI5M0w4LjA5NzI4IDguMTI5MjlaIiBmaWxsPSJibGFjayIgLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: top right;
}

.searchbox {
  padding: 10px;
  border: 1px solid #b5b5b5;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.searchbox button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
}

.searchbox input {
  margin: 0 0 0 10px;
  padding: 0;
  border: none;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  min-width: 130px;
}

.searchbox input:focus {
  border: none;
  outline: none;
}

.searchbox input:focus::placeholder {
  color: transparent;
}

.search-params {
  margin-top: 20px;
  padding: 20px 0 40px 0;
  width: 100%;
  background-color: #E6EBE6;
}

.search-params-container {
  width: 80%;
  margin: 20px auto;

}

.news-tags {
  display: flex;
  padding: 0 10% 0 10%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.news-tag {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
  border: solid 2px #000;
  box-sizing: border-box;
  border-radius: 50px;
}

.news-tag:hover, .news-tag:active, .news-tag.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

.paging {
  width: 66%;
  display: flex;
  padding-top: 20px;
  padding-left: 10%;
  justify-content: flex-end;
}

.paging .page {
  margin-right: 20px;
  list-style: none;
  cursor: pointer;
  color: #888;
}

.paging .page.active {
  color: #000;
}

.paging .page:hover {
  color: #000;
}

.paging .page a {
  display: flex;
}

.paging .page a p {
  color: #000;
  margin-right: 10px;
}

.news-block > img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 700px;
  margin: 20px auto;
}

.news-block > p {
  margin: 20px 0;
}

.other-block {
  width: 33%
}

.other-block a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.other-block .date {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: solid 2px #000;
}

.other-block h6, .other-block h5 {
  margin: 20px 0;
}

.other-news-item {
  margin-top: 40px;
}

.other-news-item h6 {
  display: block;
  padding-right: 40px;
}

.other-news-item a:hover h6{
  text-decoration: underline;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOC4wOTcyOCA4LjEyOTI5TDI0LjE2MTUgOC4xMjkzTDI0LjE2MTUgMjQuMTI5M0wyMi4xNjE1IDI0LjEyOTNMMjIuMTYxNSAxMS41MzYyTDguODAyNzUgMjQuODM3OUw3LjM5MTU2IDIzLjQyMDdMMjAuNzM5OSAxMC4xMjkzTDguMDk3MjcgMTAuMTI5M0w4LjA5NzI4IDguMTI5MjlaIiBmaWxsPSJibGFjayIgLz4KPC9zdmc+Cg==");
  background-repeat: no-repeat;
  background-position: top right;
}

.news-link {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-top: 40px;
  transition: all 0.2s ease-in-out;
}

.news-link:hover {
  text-decoration: underline;
  width: 180px;
}

@media only screen and (max-width: 1024px) {
  .other-block {
    width: 100%
  }

  .reverse {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .news {
    flex-direction: column-reverse;
  }
  
  .section-news .news-block {
    width: 100%;
  }

  .section-news .search-block {
    width: 100%;
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .search-block.fixed {
    position: static;
  }

  .news-item .image-container img {
    width: min(100%, 360px);
    height: min(32vh, 180px);
  }

  .news-text {
    max-height: auto;
  }
}
