
.paging {
  width: 66%;
  display: flex;
  padding-top: 20px;
  padding-left: 10%;
  justify-content: flex-end;
}

.paging .page {
  margin-right: 20px;
  list-style: none;
  cursor: pointer;
  color: #888;
}

.paging .page.active {
  color: #000;
}

.paging .page:hover {
  color: #000;
}

.paging .page a {
  display: flex;
}

.paging .page a p {
  color: #000;
  margin-right: 10px;
}
